{% extends "layout.html" %}
{% block body %}

<div class="container1">

    <div class="container2">
    <div class="loader">
        <svg viewBox="0 0 80 80">
          <circle r="32" cy="40" cx="40" id="test"></circle>
        </svg>
      </div>
      
      <div class="loader triangle">
        <svg viewBox="0 0 86 80">
          <polygon points="43 8 79 72 7 72"></polygon>
        </svg>
      </div>
      
      <div class="loader">
        <svg viewBox="0 0 80 80">
          <rect height="64" width="64" y="8" x="8"></rect>
        </svg>
      </div>
    </div>

    <div class="container">
        <h1 class="headingss">Coming Soon</h1>
        <p class="txt">Our website is under construction. We'll be here soon with our new awesome site.</p>
    </div>
      

</div>

    <script>
      
    </script>

{% endblock %}
